:8080 {
    # ==== CORS 共通設定 ====
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization"
    }

    # 固定ヘルスチェック
    handle_path /_health {
        respond "" 200
    }
    
    @autoLabeler {
        path_regexp auto ^/xrpc/blue\.rito\.label\.auto\..*
    }

    # /xrpc/blue.rito.label.auto* を別ポートに転送
    handle @autoLabeler {
        reverse_proxy rito-auto-labeling-service.railway.internal:8080 {
            transport http {
                versions 1.1
            }
        }
    }

    # それ以外は LabelerServer に転送
    reverse_proxy skyware.railway.internal:8080 {
        transport http {
            versions 1.1
        }
    }
}
