.wrapper {
  position: relative;
  box-sizing: border-box;
}

.inner {
  position: relative;
  padding-top: 100px;
  padding-bottom: 120px;

  @media (max-width: 768px) {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @media (max-width: 768px) {
    font-size: 42px;
    line-height: 1.2;
  }
}

.description {
  margin-top: var(--mantine-spacing-xl);
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: 768px) {
    margin-top: var(--mantine-spacing-xl);
  }
}

.control {
  height: 54px;
  padding-left: 38px;
  padding-right: 38px;

  @media (max-width: 768px) {
    height: 54px;
    padding-left: 18px;
    padding-right: 18px;
    flex: 1;
  }
}